<?xml version="1.0"?>
<!--
/*
 * @package    ScottParsons_CmsCanonical
 * @copyright  Copyright (c) 2019 Scott Parsons
 * @license    https://github.com/ScottParsons/module-cmscanonical/blob/master/LICENSE.md
 * @version    1.0.1
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Cms\Block\Page" type="ScottParsons\CmsCanonical\Block\Page" />
</config>
